<div class="page">
    <h1 class="welcome-message">
        Welocome to BookShelf!
    </h1>
    <h2 class="welcome-message">
        Manage your favourite books!
    </h2>
    <button data-test="button-login" class="button" (click)="toggleLoginForm()" *ngIf="!showLoginForm && !showSignupForm">
        Log In
    </button>
    <ng-container *ngIf="showLoginForm">
        <app-login></app-login>
    </ng-container>
    <button data-test="button-signup" class="button" (click)="toggleSignupForm()" *ngIf="!showSignupForm && !showLoginForm">
       Sign Up
    </button>
    <ng-container *ngIf="showSignupForm">
        <app-signup></app-signup>
    </ng-container>
</div>