<div class="body-page">
    <div class="page-header container">
        <div class="header-text" data-test="bookshelf-title-message">
            Welcome to BookShelf!
        </div>
    </div>
    <div class="tools-container">
        <div class="buttons-header">
            <div>
                <button class="button" routerLink='./../favourites' data-test="favourites-button">Favourites</button>
            </div>
            <div>
                <button class="button" routerLink="./../../" (click)="logout()" data-test="logout-button">Logout</button>
            </div>
        </div>
    </div>
    <div class="search-container" (click)="filterResults(filter.value)" (keyup.enter)="filterResults(filter.value)">
        <input type="text" class="search-box" placeholder="Filter book name" #filter data-test="input-search">
        <button class="search-button" type="button" data-test="search-button">Search</button>
    </div>
    <div class="table-container" data-test="table">
        <table>
            <thead>
                <tr>

                    <th>
                        Book name
                    </th>
                    <th>
                        Release date
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of filteredBooks">

                    <td>
                        <a routerLink={{getRouterLinkUrl(book.id)}} data-test="link-details">{{book.name}}</a></td>
                    <td> {{book.released | date: 'dd/MM/yyyy'}}</td>
                    <td class="fav-column" (click)="updateFavouritesList(book)">
                        <button class="button" *ngIf="getBookStatus(book.id) == true" data-test="dislike-button"> Dislike</button>
                        <button class="button" *ngIf="getBookStatus(book.id) == false" data-test="like-button"> Like</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>