<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-container" data-test="signup-form">
    <input class="input" id="username" type="text" formControlName="username" placeholder="Email" required data-test="username-input">
    <input class="input" id="password" type="text" formControlName="password" placeholder="Password" required data-test="password-input">
    <input class="input" id="password" type="text" formControlName="confirmPassword" placeholder="Confirm password" required data-test="confirm-password-input">
    <div *ngIf="signupForm.errors || signupForm.errors?.['minlength'] || signupForm.invalid" class="error-message" data-test="error-message">
        Enter valid email and at least 5 digit password.
    </div>
    <button class="button" type="submit" [disabled]="!signupForm.valid" data-test="button-submit">Submit</button>
</form>