<div class="body-page" *ngIf="book !== undefined">
    <div class="page-header container">
        <a routerLink="./../../books/home">
            <div class="header-text">
                Welcome to BookShelf!
            </div>
        </a>
    </div>
    <div class="header-buttons">
        <button class="button" routerLink="../favourites" data-test="favourites-details"> Favourites </button>
        <div (click)="updateFavouritesList(book)">
            <button class="button" class="button" *ngIf="getBookStatus(book.id) == true" data-test="details-dislike-button"> Dislike </button>
            <button class="button" class="button" *ngIf="getBookStatus(book.id) == false" data-test="details-like-button"> Like</button>
        </div>
    </div>
    <div class="table-container" data-test="details-table">
        <table>
            <tr>
                <th>
                    Book name
                </th>
                <td>
                    {{book.name}}
                </td>
            </tr>
            <tr>
                <th>
                    Authors
                </th>
                <td *ngFor="let author of book.authors">
                    {{author}}
                </td>
            </tr>
            <tr>
                <th>
                    Country
                </th>
                <td>
                    {{book.country}}
                </td>
            </tr>
            <tr>
                <th>
                    ISBN
                </th>

                <td>
                    {{book.isbn}}
                </td>

            </tr>
            <tr>
                <th>
                    Media type
                </th>
                <td>
                    {{book.mediaType}}
                </td>
            </tr>
            <tr>
                <th>
                    Number of pages
                </th>
                <td>
                    {{book.numberOfPages}}
                </td>
            </tr>
            <tr>
                <th>
                    Publisher
                </th>
                <td>
                    {{book.publisher}}
                </td>
            </tr>
            <tr>
                <th>
                    Released
                </th>
                <td>
                    {{book.released | date: 'dd/MM/yyyy'}}
                </td>
            </tr>
        </table>

    </div>
</div>