<div class="body-page">
    <div class="page-header container">
        <a routerLink="./../home">
            <div class="header-text">
                Welcome to BookShelf!
            </div>
        </a>
    </div>
    <div class="card-container" *ngIf="(likedBooks$ | async)!.length > 0; else noBooks">
        <div *ngFor="let book of (likedBooks$ | async)">
            <div class="card">
                <div class="card-content">
                    <div>
                        {{book.name}}
                    </div>
                    <div>
                        Released: {{book.released | date: 'dd/MM/yyyy'}}
                    </div>
                    <div>
                        Pages: {{book.numberOfPages}}
                    </div>
                </div>
                <div class="buttons-container">
                    <button class="button" routerLink='../{{book.id}}'>Go to details</button>
                    <button class="button" (click)="updateFavouritesList(book)">Dislike</button>
                </div>

            </div>
        </div>
    </div>
    <ng-template #noBooks>
        <div class=warning-message>
            Ooops! You don't have favourite books!
        </div>
    </ng-template>
</div>